598A4TV_Part2/598A4TV/Service References/A4/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsdUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVerificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xPathSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xPathSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xPathSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>